<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../../stylesheets/style.css">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Inicio</a></li>
      <li><a href="/producto/lista">Catalogo</a></li>


      <li><a href="/pedido/lista">Carrito de compras</a></li>
      <li><a href="/main">Encuesta de la semana</a></li>
    </ul>
  </div>
</nav>





<div class="container">
  <h1 class="titulo2">Edita los campos que deseas actualizar</h1><br>
  <form name="formulario" id="formulario" method="POST" action="/producto/update/<%= producto._id%>">
    <label> Nombre del producto <input type="text" name="nombre" id="nombre" value="<%= producto.nombre%>" /> </label>
    <label>
      Descripción <input type="text" name="descripcion" id="descripcion" value="<%= producto.descripcion%>" />
    </label>
    <label>
      Precio <input type="text" name="precio" id="precio" maxlength="6" value="<%= producto.precio%>" />
    </label>
    <input type="hidden" name="id" id="id" maxlength="6" value="" />
    <button type="submit">Enviar</button>
  </form>
</div>

<div class="container">

  <a class="Do" href="/producto/lista">Ver Catalogo</a>

</div>